#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#session-length, #break-length {
  margin: 0.5em 0;
}

button {
  margin: 0 0.25em;
}

#status {
  font-size: 3em;
  border-radius: 25px;
  border: 5px solid red;
  margin: 1em 0;
}

.tag {
  font-size: 1em;
  border-radius: 25px;
  border: 2px solid red;
  margin: 1em 0;
  min-width: 10em;
  padding: 1em;
}

#flex-box {
  display: flex;
  gap: 1em;
}
